<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- see https://docs.microsoft.com/en-us/nuget/schema/nuget-config-file -->
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <!-- <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" /> -->
    <add key="DotNet Core extensions source" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Bintray NuGet bundles package source" value="https://dl.bintray.com/savornicesei/nuget-bundles" />
  </packageSources>
</configuration>