<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Server=.\SQL2008R2SP2;Database=testdb;User ID=sa;Password=Password12!" />
    <add name="SqlScriptTestsConnectionString" connectionString="Server=.\SQL2008R2SP2;Database=master;User ID=sa;Password=Password12!" />
    <add name="OleDbConnectionString" connectionString="Provider=SQLOLEDB;Server=.\SQL2008R2SP2;Database=testdb;User ID=sa;Password=Password12!" />
    <add name="SqlLiteInMemConnectionString" connectionString="Data Source=:memory:;Version=3;New=True" />
    <add name="PostgresqlConnectionString" connectionString="Server=localhost;Userid=postgres;Password=Password12!;SSL=false;Pooling=false;SslMode=Disable;Database=testdb" />
    <add name="MysqlConnectionString" connectionString="Data Source=localhost;Uid=root; Pwd=Password12!; Database=testdb;" />
    <add name="SqlCeConnectionString" connectionString="Data Source=SqlServerCe\testdb.sdf;Persist Security Info=False;" />
    <add name="SqlLiteConnectionString" connectionString="Data Source=SqlLite\test.sqlite.db;Version=3;New=True" />
    <add name="OracleClientConnectionString" connectionString="User Id=xdba;Password=xdba;Data Source=127.0.0.1/XE" />

    <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString"
      connectionString="Data Source=localhost\sqlserver2005;Initial Catalog=testdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString1"
      connectionString="Data Source=|DataDirectory|\SqlServerCe\testdb.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="NDbUnit.Test.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=localhost\sqlserver2005;Initial Catalog=Northwind;User ID=sa;Password=aHJaeNN4"
      providerName="System.Data.SqlClient" />
    <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString2"
      connectionString="Data Source=.;Initial Catalog=testdb;Persist Security Info=True;User ID=sa;Password=password"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>

      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
